/** Structure **/

.outer-container {
	position: relative;
	overflow: hidden;
}

.purple {
	background-color: #4B324B;
}

.purple * {
	color: #fff !important;
}

/** Typography **/

.slider-item h1 {
	margin-top: 0;
	margin-bottom: 6px;
	font-size: 28px;
	line-height: 38px;
	color: #faa500 !important;
}

.slider-text h4 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	line-height: 24px;
	font-weight: 500;
} 

/** Image Slider **/

.slider-item {
	padding: 0 12.5px;
	outline: 0;
	-webkit-filter: blur(5px) saturate(0.4);
	filter: blur(5px) saturate(0.4);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.slider-item.slick-active {
	-webkit-filter: blur(0) saturate(1);
	filter: blur(0) saturate(1);
}

.slider-item img {
	width: auto;
	max-height: 400px;
	height: 100%;
}

.slick-arrow {
	position: absolute;
	top: 50%;
	margin-top: -114px;
	z-index: 10;
	width: 50px;
	height: auto;
	cursor: pointer;
	opacity: 0.5;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.slick-arrow:hover {
	opacity: 1;
}

.sliderprevious {
	left: 50px;
}

.slidernext {
	right: 50px;
}

.slider-text {
	max-width: 711px;
	opacity: 0;
	padding-bottom: 35px;
	margin-top: -40px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.slick-active .slider-text {
	opacity: 1;
}

.slider-text *:first-child {
	margin-top: 0;
}

.slider-text *:last-child {
	margin-bottom: 0;
}

/** Media Queries **/

/** 1100px **/

@media (max-width: 1100px) {

	/** Typography **/

	.slider-item h1 {
		font-size: 28px;
		line-height: 38px;
	}

	/** Image Slider **/

	.slider-item img {
		max-height: 350px;
	}

	.slider-text {
		max-width: 622px;
		margin-top: -32.5px;
	}

}

/** 900px **/

@media (max-width: 900px) {

	/** Image Slider **/

	.slider {
		display: none;
	}

}
