.inspirationFilter {
	width:100%;
	padding:15px 15px;
	background:$brand-purple;
	text-align:center;

	> div {
		@include grid-row();
		@include breakpoint(medium) {
			display:flex; 
			flex-wrap:wrap;
			justify-content:space-between;
		}
		h2 {
			@include grid-column(12);
			margin:10px 0 0 0;
			@include breakpoint(large) {
				@include grid-column(8);
				font-size:rem-calc(26);
				margin-top:22px;
			}
			color:$white;
			font-weight:normal;
		}

		.button {
			background:$white;
			color:$brand-purple;
			@include grid-column(12);
			margin-top:10px;
			transition: all 0.2s;
			@include breakpoint(medium) {
				margin-top:0px;
				@include grid-column(3);
			}
			&:hover {
			color:$white;
			background:$brand-purple;
			}
		}

		.button-selected{
			@extend .button;
			border:solid 3px $white;
			background:$brand-purple;
			color:$white;
		}
		select {
			@include grid-column(12);
			margin-bottom:15px;
			@include breakpoint(large) {
				@include grid-column(4);
				
			}
			background: $white url('../images/dropdown.svg') center right 20px no-repeat;
			margin-top:17px;
			height:50px;
			padding:15px;
			border:none;
			border-radius:0px;
			-webkit-appearance:none;
			outline:none;
			color:$grey-2;

		}
	}
}

.inspirationImage {
	background:$grey-4;
	text-align:center;
	padding:30px 0;
	position:relative;

	.inspirationImage--option {
		display:none;
		@include breakpoint(large) {
			display:block;
		}

		position:absolute;
		left:50%!important;
		background: url('../images/hotspot.svg') center center no-repeat;
		background-size:contain;
		height:45px;
		width:45px; 
		content: " ";

		&:hover {
			.arrow_box {
				opacity:1;
			}
		}

		.arrow_box {
			transition: all 0.2s;
			opacity:0;
			position: relative;
			background: #ffffff;
			height:100px;
			width:200px;
			padding:10px;
			left:65px;
			top:-25px;
			text-align:left;
			&:after {
				right: 100%;
				top: 62%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-right-color: #ffffff;
				border-width: 15px;
				margin-top: -30px;
			}
		}
	}
}


.inspirationType {
	width:100%;
	background:$grey-3;
	padding:20px;

	div {
		@include grid-row();

		h2 {
			color:$brand-purple;
			text-transform:uppercase;
			padding-left:25px;
		}
	}
}


.inspirationImages {
	@include grid-row();
	margin-bottom:25px;

	> div{
		@include grid-column(12, 0);
		@include breakpoint(large) {

			display:flex;
			margin-top:25px;
			flex-wrap:wrap;
			object-fit: cover;
			justify-content:space-between;
		}

		img {
			width:100%;
			max-width:30%;
			height:100%;
			object-fit: cover;
			@include breakpoint(large) {
			    width: 100%;
			    max-width: 32.8%;
			    -webkit-box-flex: 1;
			    -ms-flex: 1 1 30%;
			    flex: 0 1 30%;
			    height: 275px;
			    margin-top:10px;
			}
		}

		div {
			@include breakpoint(large) {
				max-width:395px;
			}
			width:100%;
			background:$brand-purple;
			color:$white;
			font-weight:bold;
			padding:20px 30px;
			margin-top:10px;
		}
	}
}

.inspirationGallery {
	background: $grey-1;
	width:100%;
	margin-top:50px;
	margin-bottom:40px;

	h2 {
		@include grid-row();
		color:$white;
		font-weight:bold;
		text-transform:uppercase;
		padding-left:30px;
		padding-top:30px;
		padding-bottom:0px;
		margin-top:0px;
		margin-bottom:0px;
	}
	.inspirationGallery__content {
		@include grid-row();
		padding-top:25px;
		@include breakpoint(large) {
			padding:25px;
			display:flex;
			flex-wrap:wrap;
			align-items:space-between;
		}

		img, div {
			@include grid-column(12,0);
			width:100%;
			@include breakpoint(large) {
				flex: 1 1 25%;
				margin:5px;
				max-width:30%;
				height:260px;
			}
		}

		div {
			background:$grey-2;
			padding:20px;
			font-size:rem-calc(22);
			p {
				margin:0px;
				padding:0px;
				color:$white;
				font-weight:bold;
			}
		}
	}
}