.inspirationFilter {
	width:100%;
	background:$brand-purple;

	> div {
		@include grid-row();
		h2 {
			@include grid-column(8);
			font-size:rem-calc(27);
			color:$white;
			font-weight:normal;
		}
		select {
			@include grid-column(4);
			margin-top:17px;
			height:50px;
			padding:15px;
			border:none;
			border-radius:0px;
			-webkit-appearance:none;
			outline:none;
			color:$grey-2;

		}
	}
}