.inspirationFilter {
	width:100%;
	padding:0px 15px;
	background:$brand-purple;

	> div {
		@include grid-row();
		h2 {
			@include grid-column(8);
			font-size:rem-calc(26);
			color:$white;
			font-weight:normal;
		}
		select {
			@include grid-column(4);
			margin-top:17px;
			height:50px;
			padding:15px;
			border:none;
			border-radius:0px;
			-webkit-appearance:none;
			outline:none;
			color:$grey-2;

		}
	}
}

.inspirationImage {
	background:$grey-3;
	text-align:center;
	padding:30px 0;
	position:relative;

	.inspirationImage--option {
		position:absolute;
		left:50%!important;
		display:block;
		background: url('../images/hotspot.svg') center center no-repeat;
		background-size:contain;
		height:45px;
		width:45px; 
		content: " ";

		&:hover {
			.arrow_box {
				opacity:1;
			}
		}

		.arrow_box {
			transition: all 0.2s;
			opacity:0;
			position: relative;
			background: #ffffff;
			height:100px;
			width:200px;
			padding:10px;
			left:65px;
			top:-25px;
			text-align:left;
			&:after {
				right: 100%;
				top: 62%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				border-color: rgba(255, 255, 255, 0);
				border-right-color: #ffffff;
				border-width: 15px;
				margin-top: -30px;
			}
		}
	}
}