.telephone {
	&:before {
		display:inline-block;
		position:relative;
		content:" ";
		height:32px;
		width:32px;
		top:9px;
		margin-right:5px;
		background: url("../images/icons/phone.svg") no-repeat center center;

	}
}

.email {

	&:before {
		display:inline-block;
		position:relative;
		content:" ";
		height:32px;
		width:32px;
		top:9px;
		margin-right:5px;
		background: url("../images/icons/email.svg") no-repeat center center;

	}
}

.twitter {
	display:block;
	content:" ";
	height:32px;
	width:32px;
	margin: 0px 10px;
	background: url("../images/icons/twitter.svg") no-repeat center center;
	&:hover {
		opacity: 0.5;
	}
}
.facebook {
	display:block;
	content:" ";
	height:32px;
	width:32px;
	margin: 0px 10px;
	background: url("../images/icons/facebook.svg") no-repeat center center;
	&:hover {
		opacity: 0.5;
	}
}
.youtube {
	display:block;
	content:" ";
	height:32px;
	width:32px;
	margin: 0px 10px;
	background: url("../images/icons/youtube.svg") no-repeat center center;
	&:hover {
		opacity: 0.5;
	}
}
.pinterest {
	display:block;
	content:" ";
	height:32px;
	width:32px;
	margin: 0px 10px;
	background: url("../images/icons/pinterest.svg") no-repeat center center;
	&:hover {
		opacity: 0.5;
	}
}
.google {
	display:block;
	content:" ";
	height:32px;
	width:32px;
	margin: 0px 10px;
	background: url("../images/icons/google.svg") no-repeat center center;
	&:hover {
		opacity: 0.5;
	}
}

.searchIcon a{
	display:block;
	content:" ";
	height:32px;
	width:32px;
	margin: 0px 10px;
	font-size:0!important;
	background: url("../images/icons/search.svg") no-repeat center center;
	&:hover {
		opacity: 0.5!important;
	}
}

.menu-icon {
	&:hover {
		border-radius:0px!important;
		background:none;
	}
}


.spacing-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top left;
}

.spacingup-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top left -50px;
}

.paperpile-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top left -100px;
}

.multipleup-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top left -150px;
}

.moveacross-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top left -200px;
}

.telescope-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top left -250px;
}

.bin-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top left -300px;
}

.lamp-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -50px left 0px;
}

.people-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -50px left -50px;
}

.multipleboard-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -50px left -100px;
}

.weight-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -50px left -150px;
}

.figureofeight-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -50px left -200px;
}

.pig-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -50px left -250px;
}
.openbox-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -50px left -300px;
}


.fourm-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -100px left 0px;
}

.sandflat-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -100px left -50px;
}

.weights-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -100px left -100px;
}

.tapemeasure-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -100px left -150px;
}

.personassembly-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -100px left -200px;
}

.screwdrivethrough-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -100px left -250px;
}

.sboardsquare-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -100px left -300px;
}



.moveableboards-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -150px left 0px;
}

.carspace-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -150px left -50px;
}

.smallsboard-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -150px left -100px;
}

.door-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -150px left -150px;
}

.threed-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -150px left -200px;
}

.telephone-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -150px left -250px;
}

.tapemeasuretwo-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -150px left -300px;
}

.world-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -200px left 0px;
}

.magnifying-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -200px left -50px;
}

.letteropen-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -200px left -100px;
}

.british-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -200px left -150px;
}

.floorspace-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -200px left -200px;
}

.curvedwithback-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -200px left -250px;
}

.thermostat-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -200px left -300px;
}



.eye-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -250px left -0px;
}

.print-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -250px left -50px;
}

.recycle-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -250px left -100px;
}

.percent-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -250px left -150px;
}

.play-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -250px left -200px;
}

.standback-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -250px left -250px;
}

.twostandheight-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -250px left -300px;
}

.timer-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -300px left -0px;
}

.books-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -300px left -50px;
}


.boxarrows-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -300px left -100px;
}

.stamp-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -300px left -150px;
}

.stamphole-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -300px left -200px;
}

.tickdot-icon {
	display:block;
	content:" ";
	height:50px;
	width:50px;
	background: url("../images/icons.svg") no-repeat top -300px left -250px;
}