.headerCTA {
	background-color:$brand-purple;
	padding:15px 0px;
	margin-top:25px;
	.headerCTA--content {
		@include grid-row();

		color:$brand-orange;
		font-weight:bold;
		font-size:rem-calc(22.5);
		text-align:center;

		a {
			color:$white;
			text-decoration:underline;
			&:hover {
				color:$brand-orange;
			}
		}

	}
}