.headerCTA {
	display:none;
	@include breakpoint(large) {
		display:block;
	}
	background-color:$brand-purple;
	padding:15px 0px;
	margin-top:0px;
	.headerCTA--content {
		@include grid-row();

		color:$brand-orange;
		font-weight:bold;
		font-size:rem-calc(22.5);
		text-align:center;

		a {
			color:$white;
			text-decoration:none;
			&:hover {
				color:$brand-orange;
			}
		}

	}
}

.slider {
&:after {
	display:block;
	clear:both;
	content:" ";
}
	margin-bottom:150px;
	width:100vw;
	overflow:hidden;
   .slider-items {
   		display: inline-block;
    	float: left;
		background-position:center;
		text-align:center;
		background-repeat:no-repeat;
		height:300px;
		@include breakpoint(large) {
			height:429px;
		}

		.titleText{
			background:$brand-purple;
			max-width:90rem;
			margin:auto;


			div{
				@include grid-row();
				padding:20px 20px;
				margin-top:-60px;
				@include breakpoint(large) {
					margin-top:-105px;
				}
				text-align:left;
				font-family: $site-font;
				font-weight:500;
				color:$white;
				font-sixe:rem-calc(15);

				h2 {
					font-size:rem-calc(32);
					line-height:rem-calc(44);
					color:$brand-orange;
					font-family:"AvenirNextLTPro-Bold";
					margin:0px;

					span {
						display:block;
						color:$white;
					}
				}
			}
		}
	}
}

.searchbox--frame {
	display:none;
	position:absolute;
	width:100%;
	max-width:720px!important;
	
	.searchBox {
		width:100%;
		max-width:720px!important;
		height:45px;
		padding:10px;
	}
}