$brand-purple: #4B324B;
$brand-orange: #FAA500;
$brand-grey: #BEB4BE;
$brand-red: #FA0032;

$grey-1: #4C484C;
$grey-2: #867F86;
$grey-3: #CEC6CE;
$grey-4: #DED9DE;
$grey-5: #EEECEE;
$grey-6: #F5F3F5;

$tint-orange-1: #FDE8C0;
$tint-orange-2: #FEF5E5;

$site-font: "AvenirNextLTPro-Medium", sans-serif;
$site-font-bold: "AvenirNextLTPro-Bold", sans-serif;
$site-transiton: all 0.2s; 

h1, h2, h3, h6 {
font-family: $site-font-bold;
}

a {
	transition: $site-transiton;
}


/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
